footer {
    display: flex;
    justify-content: space-between;
    padding: 30px;
    margin-top: 150px;
    .copyright {
        color: $color-principal;
        font-family: $fuente-principal;
    }
}

