header {
    display: flex;
    flex-direction: row;
    padding: 2%;
    justify-content: space-between;
    align-items: flex-start;
    border-bottom: 4px dotted $color-secundario;
    flex-wrap: wrap;
        ul {
            display: flex;
            list-style-type: none;
        }
        a {
            text-decoration: none;
            color: $color-principal;
            font-family: $fuente-principal;
            margin: 12px;
        }
        .odaia-header {
            font-family: $fuente-principal;
            color:$color-secundario;
            font-weight: bolder;
            font-size:x-large;
            text-decoration: underline overline;
        }
}
