.carousel {
    display: grid;
    justify-items: center;
    padding: 3%;
}

.carousel-item {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 100%; 
}

@media (max-width: 768px) {
    .carousel {
        padding: 2%; 
    }

    .carousel-item {
        max-width: 100%; 
    }
}


